.header {
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
align-items: center;
width: 1100px;
height: 293px;
padding: 92px 50px 96px 50px;

}

.header__menu {
display: flex;

}

.header__links-list{
display: flex;
gap: 37px;
}

 .header__links-list-item {
  list-style: circle;
 }
 .header__links-list-item_no-bullit {
  list-style: none;
 }

 .header__link {
 text-decoration: none; 
border-bottom: 1px solid #000;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;

 }

.header__link_active {
   text-decoration: none; 
}

.header__logo {
display: block;
width: 148px;
height: 105px;
}
 
.header__logo-image {
 
}


.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1100px;
  justify-self: end;
  font-family: Raleway;
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 24.3px;
padding-right: 37px;

}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  padding: 165px 50px 106px 50px;
  
}

 .overlay{
   position: absolute;
    background-color: rgba(0,0,0, 0.6);
    inset: 0;
    z-index: 0; 

} 

.cover__title{
  height: 385px;
  position: relative;
text-transform: uppercase;
color: #fff;
z-index: 2;

}

.align-text {
display: block;
font-weight: 700;
font-size: 100px;
letter-spacing: 25px;
z-index: 2; 
}

.align-text-left {
  text-align: start;
}

.align-text-center {
 text-align: center;
}

.align-text-right {
  margin-top: 20px;
 text-align: end;
}

.description {
  display: flex;
  position: relative;
width: 1000px;
height: 51px;
border-width: 1px;
justify-content: space-between;
margin-top: 106px;
font-weight: 400;
font-size: 22px;
text-transform: uppercase;
color: #fff;
word-spacing: 18.5px;
z-index: 2;

}

.subline{
align-self: center;
}

.button {
width: 256px;
height: 51px;
top: 656px;
left: 794px;
border-width: 1px;
background-color: transparent;
color: #fff;
border: 1px solid #fff;
text-transform: uppercase;
}

.lots {
display: flex;
flex-direction: column;
width: 1004px;
height: 723px;
margin: 0px 24px 120px 24px;
}
 
 
.lots__heading {
  margin-bottom: 27px;
font-weight: 700;
font-size: 40px;
text-transform: uppercase;
padding-left: 39px;

}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 334px;
height: 596px;
}

.card-link{
position: relative;

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
font-family: Raleway;
font-weight: 700;
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
color: #fff;
margin: 48px 40px 0px 40px;
z-index: 2;
}
.card__text{
font-weight: 400;
font-size: 20px;
color: #fff;
  text-decoration: none;
  margin: 0px 40px 48px 40px;
  z-index: 2;
  
}

.lots__look-more-link {
  font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
    margin-top: 32px;
    margin-left: 39px;
}

.about {
     display: grid;
    grid-template-columns: 1fr 669px;
width: 1052px;
height: 595px;
}
.logo__column {

}


.about__logo {
   display: grid;
  place-items: center;
  align-self: center;
width: 240px;
height: 240px;
background-color: black;
border-radius: 50%;
margin: 35px 72px 320px 69px;
}


.about__logo-image {
  width: 148px;
height: 114px;
}

.about__column {
  display: grid;
  align-self: flex-end;
height: 458px;
}

.about__title {
align-self: flex-start;
font-weight: 700;
font-size: 40px;
text-transform: uppercase;

}

.about__text {
  display: flex;
 row-gap: 30px;
 flex-direction: column;
font-weight: 400;
font-size: 20px;
margin-top: 97px;

}

.footer {
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
align-items: start;
justify-items: center;
height: 180px;
margin-top: 180px;
padding-left: 50px;

}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1100px;
  justify-self: start;
  font-style: normal;
  font-family: Raleway;
font-weight: 400;
font-size: 18px;
line-height: 24.3px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin-right: 50px;
    font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 24.3px;
letter-spacing: 0%;

}


 .footer__social-list {
  display: flex;
  width: 240px;
height: 48px;
gap: 48px;
 }

 .footer__social-list-item {
width: 48;
height: 48;
border-width: 1px;
 }

.socials {
width: 240px;
height: 48px;
gap: 48px;
}
